.azure-pipelines
.azuredevops
.git
.husky
.scannerwork
.stryker-tmp
coverage
mutation
node_modules
test
.dockerignore
.editorconfig
.eslintrc
.gitignore
.nvmrc
.prettierignore
.prettierrc
CHANGELOG.md
docker-compose*
Dockerfile*
jest.config.json
jsconfig.json
README.md
sonar-project.properties
stryker.conf.json
